.container {
  background-color: #fff;
  margin-bottom: 15px;
}

.header {
  background-color: #f9f9fb;
  padding: 35px 24px 30px 24px;
}

.headerTopLeft {
}

.headerTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}

.headerTitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #1b1b1b;
  margin-bottom: 8px;
}

.headerSubtitle {
  font-weight: 400;
  font-size: 16px;
  color: rgba(151, 151, 151, 0.8);
  line-height: 19px;
}

.headerTopRight {
  width: 24px;
  height: 24px;
  padding: 4px 3px;
  display: flex;
  align-items: center;
  margin-top: 1px;
}

/* .headerTopRight::before {
  display: block;
  content: '';
  background: #000;
  width: 18px;
  height: 2px;

  box-shadow: 0 5px 0 #000, 0 -5px 0 #000;
} */

.menuButton {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menuButtonLine {
  background-color: #000;
  width: 18px;
  height: 2px;
}

.headerBotton {
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 24px;
  gap: 24px;
}

.searchingFor {
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;

  color: #979797;
  margin: 27px 0 88px 24px
}

.searchingFor strong {
  font-weight: 600;
}

.noProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.noProductsText {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #cdcdcd;
  margin-bottom: 100px
}
